<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h2 class="title">dev<span class="highlight">Aid</span></h2>

    <p class="intro">A free mobile-friendly Bootstrap theme designed to help
      developers
      promote their personal projects</p>

    <div class="btns">
      <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/"
         target="_blank">Demo</a>
      <a class="btn btn-cta-primary"
         href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/"
         target="_blank">Download</a>
    </div>
    <ul class="meta list-inline">
      <li><a href="https://github.com/xriley/devAid-Theme" target="_blank">View
        on GitHub</a></li>
      <li><a
          href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/"
          target="_blank">Full Documentation</a></li>
      <li>Created by: <a href="http://themes.3rdwavemedia.com/" target="_blank">Xiaoying
        Riley</a> at 3rd Wave Media
      </li>
    </ul>
    <!--//meta-->
  </div>

</section><!--//promo-->