<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Scores</title>
  <link
      href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic'
      rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'
        rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../demo/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="../demo/vendor/font-awesome/css/font-awesome.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="../demo/css/styles.css">
</head>
<body>
<header id="header"
        class="header clearfix">
  <div class="container">
    <h1 class="logo pull-left">
      <a class="scrollto" href="#promo">
        <span class="logo-title">SixthJs</span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse"
                data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="../demo/index.html#/docs/model">Docs</a>
          </li>
          <li class="nav-item"><a
              href="../demo/index.html##/example">Example</a></li>
          <li class="nav-item"><a href="../test/scores.html">Scores</a></li>
        </ul>
      </div>
    </nav>

  </div>
</header>
<div class="container offset-header">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Performance Comparison for React, Angular,
        Knockout and SixthJs</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <div class="row">
        <div class="col-md-7">
          <h3 >React:
            <small id="run-react">Run</small>
          </h3>
        </div>
      </div>
      <div id="react"></div>
    </div>

    <div class="col-md-2" ng-app="test" ng-controller="controller">
      <div class="row">
        <div class="col-md-7">
          <h3>Angular:
            <small id="run-angular" ng-click="run()">Run</small>
          </h3>
        </div>
      </div>
      <div>
        <div class="row" ng-repeat="item in data">
          <div class="col-md-12 test-data">
                    <span ng-class="{ selected: item.id === $parent.selected }"
                          ng-click="select(item)" class="ng-binding">{{ item.label }}</span>
          </div>
        </div>
      </div>
    </div>

    <div id="knockout" class="col-md-2">
      <div class="row">
        <div class="col-md-7">
          <h3>Knockout:
            <small id="run-knockout" data-bind="click: run">Run</small>
          </h3>
        </div>
      </div>
      <div data-bind="foreach: data">
        <div class="row">
          <div class="col-md-12">
            <span
                data-bind="click: $root.select.bind($root, $data), text: $data.label, css: { selected: $data.id === $root.selected() }"></span>
          </div>
        </div>
      </div>
    </div>

    <div id="sixthJs" class="col-md-2" data-controller="testCtrl">
      <div class="row">
        <div class="col-md-7">
          <h3>SixthJs:
            <small id="run-sixth" data-bind="{click: run}">Run</small>
          </h3>
        </div>
      </div>
      <div>
        <div class="row" data-bind="{repeat: data, alias: item}">
          <div class="col-md-12 test-data">
            <span data-bind="{click: select}">{{ item.label }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="row">
        <div class="col-md-7">
          <h3>RawJs:
            <small id="run-raw">Run</small>
          </h3>
        </div>
      </div>
      <div id="raw"></div>
    </div>
  </div>
</div>
<script type="text/html" id="raw-template">
  <div class="row">
    <div class="col-md-12 test-data">
      <span class="{{className}}">{{label}}</span>
    </div>
  </div>
</script>

<script type="text/javascript" src="./performance/knockout-min.js"></script>

<script type="text/javascript" src="./performance/angular.min.js"></script>
<script type="text/javascript" src="./performance/react.js"></script>
<script type="text/javascript" src="../src/sixth.js"></script>


<script type="text/javascript" src="test.js"></script>

</body>
</html>