<div>
  <h1>I have child template!!</h1>

  Include some template:

  <div data-bind="{include: partials/child-tpl.html}"></div>
</div>
<div>
  <h1>And i have child controller</h1>
  <div data-controller="childColtroller">
    <div>
      <div>
        <input type="text" data-bind="{model:child}">
      </div>

      <p>Result: <span data-bind="{text:child}"></span></p>
    </div>

    <div>
      <div>
        <button type="button" data-bind="{click:clickButton}">I'm a button click me</button>
        <a href="#" data-bind="{click:clickLink}">I'm a link click me</a>
      </div>

      <p>Result from click: <span data-bind="{text:function}"></span></p>
    </div>
  </div>
</div>